.form1{
  padding-top: 2em;
  background-color: rgba(255, 230, 193, 0.877);
  padding: 5em;
  text-align: center;
  margin: 7em;
}

.firstform{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: ". form form form .";
}

.form11{
  background-color: rgba(235, 183, 106, 0.877);
  padding: 10em;
  margin: 3em;
  /* text-align: center; */
  grid-area: form;
  font-family: Georgia;
}

.ppp{
  /* grid-area: form1; */
  text-align: center;
}

.form121{
  background-color: rgba(235, 183, 106, 0.877);
  padding: 15em;
  margin: 8em;
  margin-left: 20em;
  margin-right: 20em;
  text-align: center;
  font-family: Georgia;
}

.form111{
  background-color: rgba(235, 183, 106, 0.945);
  padding: 3em;
  margin: 80px;
  margin-left: 10em;
  margin-right: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: ". form77 form77 form77 .";

}

.form7{
  grid-area: form77;
  font-family: Georgia;
}

.form1111{
  background-color: rgba(235, 183, 106, 0.945);
  /* background-color: rgb(235, 183, 106); */
  padding: 150px;
  margin: 80px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form1{
    padding-top: 2em;
    background-color: rgba(255, 230, 193, 0.877);
    padding: 0.5em;
    text-align: center;
    margin: 1em;
  }
  
  .form11{
    background-color: rgba(235, 183, 106, 0.877);
    padding: 3em;
  }
  
  .form111{
    background-color: rgba(235, 183, 106, 0.945);
    padding: 1em;
    margin: 1em;
    font-size: 0.6em;
  }
}
